.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

#info_overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width:250px;
    margin:20px;
}

.node {
	cursor:pointer;
}

#map .zoomBtn{
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    line-height: 22px;
    position: absolute;
    left: 25px;
    text-align: center;
    width: 30px;
}
#map #zoom-out{
    top: 50px;
}

#map #play{
    top: 100px;
    padding-top:2.5px;
}